name: Release

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:

permissions:
  contents: write

jobs:
  build-and-release:
    name: Build for windows and create gh release
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92
          components: rust-src
          rustflags: '-C target-feature=+crt-static'
          cache: false

      - name: Build binary
        shell: pwsh
        run: cargo build -Z build-std=std,panic_abort --release --locked --target i686-win7-windows-msvc
        env:
          RUSTC_BOOTSTRAP: 1

      - name: Create GitHub Release
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          files: target/i686-win7-windows-msvc/release/TinyWiiBackupManager.exe
          prerelease: ${{ contains(github.ref_name, 'alpha') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

