name: Release

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:

permissions:
  contents: write

jobs:
  build:
    name: Build for windows
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        shell: pwsh
        run: |
          rustup toolchain install 1.92 --component rust-src
          rustup default 1.92

      - name: Build binary
        shell: pwsh
        run: cargo build -Z build-std=std,panic_abort -Z build-std-features="optimize_for_size" --release --locked --target i686-win7-windows-msvc
        env:
          RUSTC_BOOTSTRAP: 1
          CARGO_TARGET_I686_WIN7_WINDOWS_MSVC_LINKER: rust-lld.exe
          RUSTFLAGS: -C target-feature=+crt-static

      - name: Upload distributable artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: target/i686-win7-windows-msvc/release/TinyWiiBackupManagerInstaller.exe

  release:
    name: Create GitHub Release
    if: github.ref_type == 'tag'
    runs-on: ubuntu-slim
    needs: [build]
    steps:
      - name: Download distributables
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/TinyWiiBackupManagerInstaller.exe
          prerelease: ${{ contains(github.ref_name, 'alpha') || contains(github.ref_name, 'beta') || contains(github.ref_name, 'rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

